bind_master/*
bind_slave
host01
bind.yml
!bind_master/bind.yml
!bind_master/conf/bind/etc/named.conf
!bind_master/conf/bind/etc/named.conf.options
!bind_master/conf/bind/etc/named.conf.go
!bind_master/conf/bind/etc/zones/go/internal/go.com.br.conf
